<div>
    <h1 class="text-center p-5">PORTFOLIO COMPONENT</h1>
</div>
<div class="footer bg-dark text-white">

    <div class="container p-5 text-center">
        <div class="row">
            <div class="col-md-4">
                <h3>LOCATION</h3>
                <p class="p-3">2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h3>AROUND THE WEB</h3>
                
            </div>
            <div class="col-md-4">
                <h3>ABOUT FREELANCER</h3>
                <p class="p-3">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
               
            </div>
        </div>
   
    </div>
     </div>
      <div class="end">
      <p class="text-center text-white p-4">Copyright © Your Website 2021</p>
     </div>
