<nav class="navbar navbar-expand-lg bg-dark p-5">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="home">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLinkActive="bg-success text-white rounded-pill" routerLink="about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLinkActive="bg-success text-white rounded-pill" routerLink="portfolio">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLinkActive="bg-success text-white rounded-pill" routerLink="contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
